{{define "login.html" -}}
{{- template "header.html" .}}
<div class="ui inverted borderless large menu">
    <div class="ui container">
        <a class="ui inverted header item" href="https://gitee.com/barat/ohurlshortener" target="_self">
            <div class="content">ohUrlShortener</div>
        </a>
    </div>
</div>
<div class="ui middle aligned center aligned grid" id="login-grid">
    <div class="column">
        <h2 class="ui image header">
            <div class="content">
                ohUrlShortener Admin Login
            </div>
        </h2>
        <form action="/login" class="ui large form" id="login-form" method="post">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input name="account" placeholder="Account" type="text">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input name="password" placeholder="Password" type="password">
                    </div>
                </div>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="image icon"></i>
                                <input name="captcha-text" placeholder="验证码" type="text">
                            </div>
                        </div>
                        <div class="field" id="captcha-image"><a class="ui input" href="javascript:reload_captcha()">点击获取验证码</a>
                        </div>
                    </div>
                </div>
                <div class="ui fluid large black submit button">Login</div>
            </div>
            <div class="ui error message"></div>
        </form>
    </div>
</div>
{{- template "footer.html" .}}
{{end -}}